NODE_ENV=development
PORT=3000

SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_DB_URL=
SUPABASE_STORAGE_BUCKET=skin-photos

OPENAI_API_KEY=

MFDS_INGREDIENTS_ENDPOINT=https://apis.data.go.kr/1471000/CsmtcsIngdCpntInfoService01
MFDS_API_KEY=
